
.showcase{
   
    
    position: relative;
}

.showcase video{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}

.title{
    padding-top: 70px;
    padding-left: 30px;
    width: 100%;
    height: 230px;
    background-color: #000;
    font-size: 200px;
    color: #fff;
    mix-blend-mode: multiply;

}

.boton{
    background:#000;
    color: #fff;
    margin-left: 650px;
    padding: 20px ;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    position: relative;
}
.boton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        red,blue,deeppink,blue,
        red,blue,deeppink,blue
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite
}

body{
    background-color: #000;
}
@keyframes glowing{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100%{
        background-position: 0 0;
    }
}
